* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container {
    width: 40%;
    margin: auto;
}

#header {
    height: 8rem;
    background-color: #fbd8bc;
}

.gauche, .droite, .section1, .section2, .contient1, .article, .aside, .aside1, .aside2, .aside3 {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50rem;
    margin-right: -4px;
    overflow: hidden;
}

#header, .nav, .section1, .section2, .article, .aside1, .aside2, .aside3, .footer {
    border: 1px solid black;
}

.section1, .aside1, .aside2, .aside3, .section2, .footer, #header {
    width: 100%;
}

.gauche {
    width: 23%;
}

.nav {
    background-color: #B7DDE8;
    height: 35%;
    margin-right: 1rem;
    margin-top: 1rem;
}

.droite {
    width: 77%;
}

.section1, .section2 {
    background-color: #D8D8D8;
}

.section1 {
    height: 30rem;
}

.contient1 {
    width: 90%;
    height: 24rem;
    margin: 3rem;
}

.article {
    width: 67%;
    background-color: #8DB1E3;
    height: 24rem;
}

.aside {
    height: 100%;
    width: 32%;
}

.aside1, .aside2, .aside3 {
    margin-top: 0;
    background-color: #D99690;
    height: 45%;
    margin-left: 2rem;
}

.section2 {
    height: 20rem;
}

.aside3 {
    width: 24%;
    margin-left: 35rem;
    margin-top: 4rem;
}

.footer {
    height: 5rem;
    background-color: #D2D3AB;
}